<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Transversal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="A simple HTML template using BeerCSS and Unpoly">
    <meta name="author" content="Your Name">
    <meta name="keywords" content="HTML, BeerCSS, Unpoly, Template">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.11.0/unpoly.min.js"></script>
    <script type="module" defer src="https://cdn.jsdelivr.net/npm/beercss@3.11.33/dist/cdn/beer.min.js"></script>
    {#
    <script type="module" async defer
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/beercss@3.11.33/dist/cdn/beer.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.11.0/unpoly.min.css">
</head>

<body>
    <script>
        up.network.config.wrapMethod = false;
        up.link.config.followSelectors.push('a[href]')
        up.form.config.submitSelectors.push('form')

        up.compiler('.field > label', function (element) {
            function touched(event) {
                console.log('touched:', event);
                element.classList.remove('active');
            }
            document.getElementById(element.getAttribute('for'))
                .addEventListener("focus", touched, { once: true });
        })
    </script>
    {% block header %}
    <header class="tertiary-container small-elevate">
        <nav class="responsive" style="max-width: 75rem; margin: 0 auto;">
            <button class="button circle transparent" up-target="body" up-transition="fade" onclick="history.back()">
                <i class="material-icons">arrow_back</i>
            </button>
            <a href="/">
                <h6>Transversal</h6>
            </a>
            <div class="max"></div>
            {% if let Some(user) = user %}
            <div>Welcome {{user.name}}</div>
            <a class="button transparent" href="{{ models::oauth::OAUTH_LOGOUT_ENDPOINT }}" up-follow="false">
                Logout
                <i>logout</i>
            </a>
            {% else %}
            <a class="button transparent" href="{{ models::oauth::OAUTH_LOGIN_ENDPOINT }}" up-follow="false">
                Login
                <i>login</i>
            </a>
            {% endif %}
        </nav>
    </header>
    {% endblock %}
    <main class="responsive">
        {% block content %}
        <h1>Hello, World!</h1>
        <p>This is a simple HTML template.</p>
        {% endblock %}
    </main>
</body>

</html>

{%macro text_field(label, name, value) %}
{% call field(label, name, value, "text") %}
{% endmacro %}

{% macro password_field(label, name, value) %}
{% call field(label, name, value, "password") %}
{% endmacro %}

{% macro email_field(label, name, value) %}
{% call field(label, name, value, "email") %}
{% endmacro %}

{% macro number_field(label, name, value) %}
{% call field(label, name, value, "number") %}
{% endmacro %}

{% macro field(label, name, value, type) %}
<div class="field label fill">
    <input id="{{ name }}_field_id" type="{{ type }}" name="{{ name }}" value="{{ value | maybe }}" required
        autocomplete="off">
    <label id="{{ name }}_label_id" for="{{ name }}_field_id"
        class="{% if crate::is_value_set(&value) %}active{% endif %}">
        {{ label }}
    </label>
</div>
{% endmacro %}