{% extends "template.html" %}

{% block content %}

<article class="border" style="height: 30vh;">
    <div class="row">
        <h2>Users</h2>
        <div class="max"></div>

        <a class="button circle transparent" href="/user">
            <i>add</i>
        </a>
    </div>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Sid</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr up-follow up-href="/user/{{ user.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ user.sid }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% else %}
            <tr class="center-align">
                <td colspan="3" class="center italic">
                    <h6>No users found</h6>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</article>

<article>
    <form method="post" action="/user/{{ user.id | maybe }}" id="user-form" up-submit>
        <div class="row">
            {% if crate::is_value_set(&user.id) %}
            <h3>Edit user</h3>
            {% else %}
            <h3>New User</h3>
            {% endif %}
            <div class="max"></div>

            <button type="reset" class="transparent circle">
                <i>refresh</i>
            </button>
        </div>

        {% if crate::is_value_set(&user.id) %}
        <input type="hidden" name="id" value="{{ user.id | maybe }}">
        {% endif %}
        <legend>User Information</legend>
        {% call text_field("Sid", "sid", user.sid) %}
        {% call text_field("Email", "email", user.email) %}

        <div class="row">
            {% if crate::is_value_set(&user.id) %}
            <a class="button tertiary" up-method="delete" href="/user/{{ user.id | maybe }}">
                Delete
                <i>delete</i>
            </a>
            {% endif %}
            <div class="max"></div>
            <button type="submit" class="small-elevate">
                {% if crate::is_value_set(&user.id) %}
                Update
                {% else %}
                Create
                {% endif %}
                <i>save</i>
            </button>
        </div>
    </form>
</article>

{% endblock %}